main .container {
  --gap: 2rem;
  min-height: 100vh;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  justify-items: center;
}

@media screen and (min-width: 640px) {
  main .container {
    max-width: 80rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    --gap: 3.2rem;
  }
}

@media screen and (min-width: 1360px) {
  main .container {
    max-width: 122.4rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.card {
  background-color: var(--clr-bg);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.6rem;
  box-shadow: 0 0 5px rgba(25, 25, 25, 0.5);
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 12;
  flex-grow: 2;
  border-radius: 1.6rem 1.6rem 0 0;
  overflow: hidden;
}

.image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}

.image img:where(:hover, :active) {
  transform: scale(1.08);
}

.overlay {
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 40%;
  transform: translateY(-30%);
}
.overlay-img {
  width: 95%;
  margin: 0 auto;
  position: relative;
}

.overlay-img img {
  margin: 0 auto;
  border: 3px solid black;
}

@media (min-width: 640px) {
  .overlay {
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -20%);
  }

  .overlay-img img {
    width: 95%;
    height: auto;
  }
}

@media (min-width: 1007px) {
  .overlay {
    width: fit-content;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -20%);
  }

  .overlay-img img {
    width: auto;
    height: 80vh;
  }
}
.overlay-img a {
  width: calc(32px + 1vw);
  height: calc(32px + 1vw);
  position: absolute;
  top: calc(-15% + 1vw);
  right: 0;
  color: var(--clr-primary);
  transition: border 250ms ease-in-out;
}

.overlay-img a:where(:hover, :focus) {
  border: 2px solid var(--clr-primary);
}

.content {
  width: 90%;
}

.project-heading {
  box-shadow: inset 0 0 0 0 #54b3d6;
  font-family: var(--ff-primary);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-400);
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
  color: var(--clr-fg-dark);
  border-bottom: 1px solid rgba(25, 25, 25, 0.3);
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 1360px) {
  .project-heading {
    font-size: 2rem;
  }
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0.2rem;
}

.demo {
  display: none;
}
