@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
	font-size: 62.5%;
	--fs-header:  2.4rem;

	--clr-bg:  hsl(225, 100%, 94%);
	--clr-bg-secondary:  hsl(225, 100%, 98%);
	--clr-primary:  hsl(224, 23%, 55%);
	--clr-secondary:  hsl(223, 47%, 23%);
	--clr-blue:  hsl(245, 75%, 52%);
	--clr-hover:  hsl(245, 75%, 60%);

	--curve:  2rem;
}

*{
	padding: 0;
	margin:  0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 1.6rem;
}
body{
	background-color: var(--clr-bg);
	background-image: url('./images/pattern-background-desktop.svg');
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
	display:  flex;
	flex-direction:  column;
	align-items: center;
	font-weight: 500;
}
@media (max-width: 375px){
	body{
		background-image: url("./images/pattern-background-mobile.svg");
	}
}

main{
	margin: auto;
}
.container{
	width: 100%;
	max-width: 345px;
	background-color: var(--clr-bg-secondary);
	color: var(--clr-primary);
	border-radius: var(--curve);
	box-shadow: rgba(0, 0, 0, 0.2) 0 1rem 2rem;
}
.image{
	width: 100%;
	display: block;
	border-radius: var(--curve) var(--curve) 0 0;
}
.details{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.details h1{
	font-size: var(--fs-header);
	color: var(--clr-secondary);
	text-align: center;
	font-weight: 900;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.details >p{
	text-align: center;
	padding-bottom: 2rem;
}
.price{
	background-color: hsl(225, 100%, 96%);
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
	border-radius: 1.6rem;
}
.price li{
	padding: 1.5rem;
}
.price >li:last-child{
	color: var(--clr-blue);
	margin-left: auto;
}
.price >li:last-child:hover{
	text-decoration: underline;
	color: var(--clr-hover);

}
.price li ul li {
	padding: 0;
	font-size: 1.5rem;
}
.price li ul li:first-child{
	color: var(--clr-secondary);
	font-size: 1.6rem;
	font-weight: 700;
}

.button{
	width: 100%;
	background-color: var(--clr-blue);
	border-radius: 1rem;
	text-align: center;
	margin-bottom: 2rem;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 10px;

}
.button a{
	display: block;
	color: var(--clr-bg);
	padding: 1.2rem 0 ;
	font-weight: 700;
}
.button:hover{
	background-color: var(--clr-hover);
}

.container p a{
	color: var(--clr-primary);
	font-weight: 700;
}
.container p a:hover{
	color: var(--clr-secondary);
}

footer{
	background-color: var(--clr-bg);
	color: var(--clr-dark);
	width: 100%;
}
.attribution{
	font-size: 1.2rem;
	text-align: center;
}
.attribution a{
	font-size: inherit;
	color: var(--clr-header);
}