/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* ****************************************** */
/* Pure CSS Gradient Background Animation */
/* https://codepen.io/P1N2O/pen/pyBNzX */
/* ****************************************** */
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
/* font-family: 'Patua One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
/* font-family: 'Rammetto One',cursive; */


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rammetto One', sans-serif;
    font-weight: 400;
    font-size: calc(3rem + 3vw);
    text-align: center;
    color: white;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.51);
}