:root {
  /* FONTS */
  /*@import url('https://fonts.googleapis.com/css2?family=Acme&family=Ubuntu+Mono&family=Ubuntu:wght@300;400;500;700&display=swap');
    font-family: 'Acme', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Ubuntu Mono', monospace; */

  --ff-header: "Acme", sans-serif;
  --ff-primary: "Ubuntu", sans-serif;
  --ff-monospace: "Ubuntu Mono", monospace;
  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-header: calc(2rem + 1.2vw);
  --fs-300: calc(1.2rem + 0.3vw);
  --fs-400: calc(1.4rem + 0.6vw);
  --fs-500: calc(1.8rem + 0.9vw);
  --fs-700: calc(2rem + 1.2vw);
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  /* COLOR */
  --clr-bg: hsl(136, 83%, 96%);
  --clr-fg-light: hsl(255, 100%, 97%);
  --clr-fg-dark: hsl(240, 7%, 11%);
  --clr-primary: #2ef0b2;
  --clr-red: hsl(353, 92%, 64%);
  --clr-green: hsl(120, 81%, 73%);
  --clr-blue: hsl(249, 81%, 73%);
  --clr-yellow: hsl(60, 81%, 73%);
  --clr-dark: hsl(240, 7%, 11%);
  --clr-gray: hsl(161, 7%, 46%);
  --clr-gray-dark: hsl(165, 10%, 23%);
  --clr-gray-100: hsl(210, 17%, 98%);
  --clr-gray-200: hsl(210, 16%, 93%);
  --clr-gray-300: hsl(210, 14%, 89%);
  --clr-gray-400: hsl(210, 14%, 83%);
  --clr-gray-500: hsl(210, 11%, 71%);
  --clr-gray-600: hsl(210, 7%, 46%);
  --clr-gray-700: hsl(210, 10%, 31%);
  --clr-gray-800: hsl(210, 10%, 23%);
  --clr-gray-900: hsl(210, 11%, 15%);

  /* Annimation */
  --transition: 250ms ease-in-out;
}

/* ============ UTILITY CLASSES ============ */
.container {
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  gap: var(--gap, 1.6rem);
  align-items: center;
}

.grid {
  display: grid;
  gap: var(--gap, 1.6rem);
}

.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  text-align: center;
  line-height: 1.2;
  color: var(--clr-fg-dark);
}

.h1 {
  font-size: var(--fs-header);
}

@media (min-width: 1200px) {
  .h1 {
    font-size: 4rem;
  }
}

.link {
  position: relative;
  color: var(--clr-blue);
  font-family: var(--ff-monospace);
  transition: all var(--transition);
}

.link:before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -15%;
  left: 0;
  background-color: var(--clr-primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:where(:hover, :active) {
  color: var(--clr-primary);
}

.link:where(:hover, :active):before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button {
  box-shadow: inset 0 0 0 0 var(--clr-dark);
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  font-family: var(--ff-primary);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-300);
  background: linear-gradient(
    45deg,
    rgba(0, 229, 255, 1) 0%,
    rgba(48, 240, 178, 1) 50%
  );
  color: var(--clr-dark);
  padding: 1rem 2rem;
  border-radius: 1rem;
  transition: all var(--transition);
}

.button:is(:hover, :active) {
  font-weight: var(--fw-bold);
  box-shadow: inset 0 10rem 10rem 0 var(--clr-dark);
  color: var(--clr-fg-light);
}

/* ========================================================= */

html {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--clr-bg);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  justify-content: center;
  align-items: center;
}

header {
  background-color: var(--clr-gray-600);
  grid-area: header;
  width: 100%;
  padding: 1rem 2rem;
  min-height: max(5rem, 3.5vw);
}

.header {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.hero {
  flex: 0 0 auto;
}

.logo {
  display: inline-block;
  position: relative;
}

.logo svg {
  fill: var(--clr-fg-light);
  height: max(1.8rem, 2vw);
  transition: fill 200ms ease-in-out;
}

.logo:before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5%;
  left: 0;
  background-color: var(--clr-primary);
  transition: transform 200ms ease-out;
}

.logo svg:where(:hover, :active, :focus) {
  fill: var(--clr-primary);
}

.logo:where(:hover, :active):before {
  transform: scaleX(1);
  transform-origin: center;
}

.main-nav {
  --gap: max(2rem, 2vw);
}

.main-nav .link {
  font-size: var(--fs-400);
  color: var(--clr-fg-light);
}

.main-nav .link:where(:hover, :active) {
  color: var(--clr-primary);
}

main {
  grid-area: main;
  margin-block: 3.2rem;
}

/* Footer styling +++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++*/

footer {
  scroll-behavior: smooth;
  grid-area: footer;
  background-color: var(--clr-dark);
  color: var(--clr-fg-light);
  padding-bottom: 1rem;
}

/* Footer contact form ++++++++++++++++++++++++++++ */

#contact-area {
  flex-direction: column;
  justify-content: center;
  --gap: 2rem;
  /* margin-block: 1.2rem; */
}

@media (min-width: 1007px) {
  #contact-area {
    flex-direction: row;
    flex-wrap: nowrap;
    --gap: 5rem;
  }
}

#contact-area > * {
  flex: 1;
}
/* ========== Footer contact form "Address" ====== */

.address {
  width: 100%;
  margin-top: 2rem;
  background-color: var(--clr-gray-900);
  padding: 1.6rem 2rem;
  border-radius: 1rem;
  /* transform: translateY(-2rem); */
}

.address-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.6rem;
  padding-bottom: calc(1rem + 2vw);
  align-items: center;
}

.address-icon {
  list-style: none;
  display: inline-block;
  flex-shrink: 0;

  width: 4rem;
  height: 4rem;
  background-color: var(--clr-gray-800);
  border-radius: 5rem;
  box-shadow: 0 0 5px 1px var(--clr-gray-700);
}

.address-icon img {
  padding: 0.5rem;
}

.address-list h2 {
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--clr-gray-400);
}

.address-list .link {
  letter-spacing: 1px;
  color: var(--clr-blue);
  transition: color 200ms ease;
}

.address-list .link:where(:hover, :focus, :active) {
  color: var(--clr-primary);
}

/* ========== Footer contact form "Contact Us" ====== */
.contact-form {
  width: 100%;
  max-width: 42rem;
  margin-block: calc(1.2rem + 1.2vw);
}

.contact-form-heading {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  letter-spacing: 0.4rem;
  background-color: var(--clr-gray-900);
  color: var(--clr-primary);
  padding-block: 1.2rem;
  margin-bottom: 3rem;
  border-bottom: 0.2rem solid var(--clr-primary);
  border-radius: 0.4rem;
}

.contact-form-list-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: calc(2rem - 1.2vw);
}

.contact-form-list-item {
  width: 100%;
  margin-bottom: 2.5rem;
  position: relative;
  z-index: 2;
}
.contact-form-list-item input {
  width: 100%;
  background-color: transparent;
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1;
  letter-spacing: 1px;
  padding: 0.6rem 1.6rem;
  /* margin-block: 1rem; */
  /* border-bottom: 2px solid var(--clr-primary); */
}

.contact-form-list-item span {
  position: absolute;
  inset: 0;
  z-index: -1;
  bottom: 1.2rem;
  left: 0;
  font-size: var(--fs-body);
  line-height: 1;
  /* padding-left: 1.2rem; */
  color: var(--clr-gray-700);
  transition: transform 400ms ease-in-out, font-size 300ms ease-in-out,
    color 250ms ease;
}

.contact-form-list-item input:where(:focus, :valid) ~ span {
  transform: translateY(-1.8rem);
  color: var(--clr-primary);
  font-size: 1.2rem;
}

.contact-form-list-item i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.2rem;
  z-index: -1;
  background-color: var(--clr-primary);
  pointer-events: none;
  transition: height 400ms ease-in-out;
}

.contact-form-list-item input:where(:focus, :valid) ~ i {
  height: 3.2rem;
  border-radius: 0.4rem;
}

.contact-form-list-item-message {
  width: 100%;
  position: relative;
  z-index: 2;
  margin-top: 1rem;
}

.contact-form-list-item-message textarea {
  width: 100%;
  background-color: transparent;
  color: var(--clr-fg-light);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1;
  padding: 0.8rem;
  border-radius: 0.8rem;
  border: 2px solid var(--clr-primary);
}

.contact-form-list-item-message span {
  position: absolute;
  left: 0;
  top: 1.2rem;
  font-size: var(--fs-body);
  line-height: 1;
  padding-left: 1.2rem;
  color: var(--clr-gray-700);
  transition: transform 400ms ease-in-out, font-size 300ms ease-in-out,
    color 250ms ease;
}

.contact-form-list-item-message textarea:where(:focus, :valid) ~ span {
  transform: translate(-1.2rem, -3rem);
  color: var(--clr-primary);
  font-size: 1.2rem;
}

.contact-form-button {
  width: 100%;
  background-color: var(--clr-primary);
  color: var(--clr-dark);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: var(--ff-primary);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-400);
  padding: 1rem 0;
  margin-top: 1.2rem;
  border-radius: 0.8rem;
  outline: none;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.contact-form-button:where(:hover, :active) {
  background-color: transparent;
  color: var(--clr-fg-light);
  border: 2px solid var(--clr-primary);
}
/* ========== Footer contact form "Contact Us" ====== */

/* Footer contact form ++++++++++++++++++++++++++++ */

.footer-credit {
  font-family: var(--ff-primary);
  font-weight: var(--fw-light);
  text-align: center;
  padding-top: 1rem;
  border-top: 1px solid var(--clr-gray-800);
}
/* Footer styling ++++++++++++++++++++++++++++ 
++++++++++++++++++++++++++++++++++++++++++++++*/
