@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
/* font-family: 'Rammetto One','Roboto', sans-serif; */


:root {

    /* FONTS */
    --ff-header: 'Rammetto One', 'Roboto', sans-serif;
    --ff-primary: 'Roboto', sans-serif;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    /* COLOR */
    --clr-bg: hsl(136, 83%, 93%);
    --clr-fg-light: hsl(136, 83%, 97%);
    --clr-fg-dark: hsl(240, 7%, 11%);
    --clr-red: hsl(353, 92%, 64%);
    --clr-green: hsl(120, 81%, 73%);
    --clr-blue: hsl(249, 81%, 73%);
    --clr-tela-400: hsl(161, 86%, 56%);
    --clr-tela-900: hsl(161, 86%, 11%);
    --clr-yellow: hsl(60, 81%, 73%);
    --clr-dark: hsl(240, 7%, 11%);
    --clr-gray-400: hsl(0, 0%, 85%);
    --clr-grey-900: hsl(240, 11%, 38%);
}


body {
    background-color: var(--clr-bg);
    font-family: var(--ff-primary);
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    justify-content: center;
    align-items: center;

}

header {
    grid-area: header;
    width: 100%;
}

header nav {
    background-color: var(--clr-grey-900);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    display: inline-block;
    box-sizing: border-box;
    font-family: var(--ff-primary);
    font-weight: var(--fw-semi-bold);
    font-size: 1.2rem;
    background: linear-gradient(45deg, rgba(0, 229, 255, 1) 0%, rgba(48, 240, 178, 1) 50%);
    color: var(--clr-dark);
    padding: 0.6rem 2rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

header nav a:is(:hover, :active) {
    background: var(--clr-dark);
    color: var(--clr-fg-light);
}

main {
    grid-area: main;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.h1 {
    font-family: var(--ff-header);
    font-weight: var(--fw-bold);
    font-size: calc(3rem + 1.2vw);
    text-align: center;
    color: var(--clr-fg-light);
    text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.51);
}

footer {
    grid-area: footer;
    background-color: var(--clr-dark);
}

footer p {
    font-family: var(--ff-primary);
    font-weight: var(--fw-light);
    color: var(--clr-fg-light);
    text-align: center;
    padding: 2px 0;
}

footer a {
    color: var(--clr-blue);
}