/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

/* font-family: 'Source Sans Pro', sans-serif; */
:root {

    --clr-bg: #1a1a1e;
    --clr-bg-alt: #212128;
    --clr-txt: #eeeef4;
    --clr-gray: #56566c;


    font-size: 62.5%;
    --fs-300: 1.2rem;
    --fs-400: 1.6rem;
    --fs-600: 2.4rem;
    --fs-700: 3.2rem;
    --fs-900: 4rem;

    --fw-300: 300;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
    --fw-900: 900;



}



/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
    cursor: pointer;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
    list-style: none;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}


/* user styling */

body {
    font-size: 1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--clr-bg);
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

/* ########## Header stylling ######### */
.main-header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    height: 4.8rem;
    background-color: var(--clr-bg-alt);
    padding: 0.5rem 1rem;
    z-index: 1;
}

.main-header>div {
    display: inline-block;
}

.logo a {
    display: inline-block;
}

.logo a img {
    height: 4rem;
    min-width: 14rem;
}

.toggle-button {
    width: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: var(--clr-txt);
    display: block;
    margin: 0.5rem 0;
}

header+nav {
    position: fixed;
    width: 60vw;
    height: 100vh;
    background: var(--clr-gray);
    z-index: 100;
}

.main-nav {
    padding: 2.4rem 0.5rem;
}

.main-nav>a {
    display: block;
    text-align: center;
}

.main-nav a img {
    width: 90%;
    /* height: 4.8rem; */
    padding: 0.2rem 0;
    margin: auto;
}

.nav-items {
    display: block;
    /* cursor: pointer; */
    text-align: center;
    width: 80%;
    margin: 1rem auto;
    background-color: var(--clr-bg);
    color: var(--clr-txt);
    border-radius: 100vmax;

}

.nav-items:focus,
.nav-items:hover {
    background-color: var(--clr-txt);
    color: var(--clr-bg-alt);
}

.nav-items a {
    display: inline-block;
    font-size: var(--fs-300);
    font-weight: var(--fw-600);
    line-height: 1.2;
    padding: 0.5rem 0;
}

/* Utlity Class */

.close {
    display: none;
}