@font-face {
  font-family: "Hanken Grotesk";
  src: url(./../fonts/HankenGrotesk.ttf) format("truetype") tech("variations"), url("./../fonts/HankenGrotesk.ttf") format("truetype-variations");
  font-weight: 100 1000;
}
/*===============================================
================== VARIABLE =====================
=================================================*/
:root {
  --ff-primary: "Hanken Grotesk";
  --fs-primary: 1.125rem;
  --bg-primary: hsl(0, 0%, 100%);
  --fg-primary: hsl(224, 30%, 27%);
  --clr-bg-10: hsl(224, 30%, 27%);
  --clr-bg-50: hsl(252, 100%, 67%);
  --clr-bg-70: hsl(241, 81%, 54%);
  --clr-fg-100: hsl(0, 100%, 100%);
  --clr-fg-50: hsl(221, 100%, 96%);
  --clr-fg-30: hsl(240, 30%, 85%);
  --clr-neutral-50: hsla(256, 72%, 46%, 1);
  --clr-neutral-00: hsla(241, 72%, 46%, 0);
  --clr-accent-red: hsl(0, 100%, 67%);
  --clr-accent-yellow: hsl(39, 100%, 56%);
  --clr-accent-tela: hsl(166, 100%, 37%);
  --clr-accent-blue: hsl(234, 85%, 45%);
  --padding-base: 1rem;
  --transition-time: 350ms;
  --transiiton-func: ease-in-out;
}

/*===============================================
================ RESET CLASSES ==================
===============================================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

a,
a:not([class]) {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*===============================================
================ MAIN LAYOUT ====================
===============================================*/
body {
  background-color: var(--bg-primary, #fff);
  color: var(--fg-primary, #1a1a1e);
  font-family: var(--ff-primary, monospace);
  font-size: var(--fs-primary, 16px);
}
@media only screen and (min-width: 44em) {
  body {
    display: grid;
    place-content: center;
  }
}

/*================ Header Styling ================*/ /*================ Main Styling ================*/
.result-component {
  --padding-base: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 44em) {
  .result-component {
    max-width: 46rem;
    flex-direction: row;
    box-shadow: 5px 8px 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1.875rem;
  }
}

.result {
  flex: 1;
  color: var(--clr-fg-30);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding-block: 1.875rem;
  padding-inline: 2.5rem;
  border-radius: 0 0 1.875rem 1.875rem;
}
@media only screen and (min-width: 44em) {
  .result {
    border-radius: 1.875rem;
  }
}
.result h2 {
  font-size: var(--fs-primary);
  text-transform: capitalize;
}

.score {
  width: 10rem;
  height: 10rem;
  display: grid;
  place-content: center;
  color: var(--clr-fg-30);
  font-weight: 700;
  background: linear-gradient(to bottom, var(--clr-neutral-50), var(--clr-neutral-00));
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.score .scored {
  display: block;
  color: var(--clr-fg-100);
  font-size: calc(var(--fs-primary) * 3.5);
  font-weight: 700;
  padding-block: 0.625rem;
}

.grade {
  color: var(--clr-fg-100);
  font-size: calc(var(--fs-primary) * 1.8);
  font-weight: 600;
}

.statistic {
  max-width: 38ch;
  line-height: 1.2;
}
@media only screen and (min-width: 44em) {
  .statistic {
    max-width: 28ch;
  }
}

.summary {
  flex: 1;
  padding: 1.875rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
.summary h2 {
  font-size: calc(var(--fs-primary) * 1.3);
}
.summary__topics {
  --gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.9375rem;
  padding-block: 1.25rem;
}
.summary__topic {
  --bg-opacity: 0.1;
  padding: 0.9375rem;
  border-radius: 0.625rem;
}
.summary__topic .icon {
  width: 1.25rem;
  height: 1.25rem;
}
.summary__topic .topic-heading {
  font-size: var(--fs-primary);
  font-weight: 400;
}
.summary__topic .topic-score {
  margin-inline-start: auto;
}
.summary__topic .topic-score .get {
  font-weight: 700;
  padding-inline-end: 0.25rem;
}
.summary__topic .topic-score .outof {
  color: rgba(0, 0, 0, 0.3);
  padding-inline-start: 0.25rem;
}
.summary .button {
  cursor: pointer;
  appearance: none;
  border: none;
  background-color: var(--clr-bg-10);
  color: var(--clr-fg-100);
  font: inherit;
  font-weight: 700;
  padding-block: 0.9375rem;
  border-radius: 100vw;
  transition: all 250ms ease-out;
}
@media (hover: hover) {
  .summary .button:where(:hover, :focus) {
    background-color: var(--clr-bg-50);
    transition: all 250ms ease-in;
    outline: 2px dotted var(--clr-accent-blue);
    outline-offset: 2px;
  }
}

/*================ Footer Styling ================*/
/*===============================================
================ UTILITY CLASSES ================
=================================================*/
.bg-primary {
  background-color: var(--bg-primary);
}

.fg-primary {
  background-color: var(--fg-primary);
}

.bg-blue-50 {
  background-color: var(--clr-bg-50);
}

.bg-blue-70 {
  background-color: var(--clr-bg-70);
}

.bg-accent-reaction {
  background-color: hsla(0, 100%, 67%, var(--bg-opacity, 0.3));
}

.fg-accent-reaction {
  color: var(--clr-accent-red);
}

.bg-accent-memory {
  background-color: hsla(39, 100%, 56%, var(--bg-opacity, 0.3));
}

.fg-accent-memory {
  color: var(--clr-accent-yellow);
}

.bg-accent-verbal {
  background-color: hsla(166, 100%, 37%, var(--bg-opacity, 0.3));
}

.fg-accent-verbal {
  color: var(--clr-accent-tela);
}

.bg-accent-visual {
  background-color: hsla(234, 85%, 45%, var(--bg-opacity, 0.3));
}

.fg-accent-visual {
  color: var(--clr-accent-blue);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
/*# sourceMappingURL=style.css.map */