.root {
  width: 100%;
  min-height: 100vh;
  background-color: var(--clr-primary-violet);
  color: #fff;
  font-family: var(--ff-body);
  font-size: 1rem;

  display: grid;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    background-image: url('../images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @media (max-width: 40em) {
      background-image: url('../images/bg-mobile.svg');
      background-size: 100%;
    }
  }
}

.wraper {
  width: 85%;
  margin-inline: auto;
  padding-block: 3rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > * + * {
    margin-top: 2rem;
  }
  @media (max-width: 40em) {
    justify-content: space-between;
  }
}

.nav {
  width: 100%;
  img {
    width: clamp(10rem, 30%, 15rem);
  }
}

.main {
  width: 100%;
}

.hero {
  max-width: 90rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  @media (max-width: 40em) {
    flex-direction: column;
  }
  &__image {
    flex: 1 1 60%;
  }
  &__content {
    flex: 1 1 40%;
    h1 {
      font-family: var(--ff-heading);
      font-weight: var(--fw-bold);
      font-size: clamp(1.4rem, 3vw, 2.4rem);
      line-height: 1.1;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 0.725rem;
      font-size: 1rem;
    }
    button {
      background-color: #fff;
      color: var(--clr-primary-violet);
      font-size: 1.2rem;
      margin-top: 1rem;
      padding: max(0.8rem, 1.2vw) min(5rem, 20%);
      border-radius: 0.75rem;
      cursor: pointer;
      transition: all 0.25s ease;
      &:where(:hover, :focus) {
        background-color: #eee;
        box-shadow: 2px 5px 1rem 0 rgb(0 0 0 / 0.3);
        transform: scale(1.02);
      }
    }
    @media (max-width: 40em) {
      text-align: center;
    }
  }
}

.footer {
  width: 100%;
  footer {
    width: fit-content;
    margin-left: auto;
    @media (max-width: 40em) {
      margin-right: auto;
    }
    > * + * {
      margin-left: 1.5rem;
    }
    a {
      color: currentColor;
      text-decoration: none;
    }
  }
}

ion-icon {
  font-size: 1.5rem;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #fff;
}
