# Uncomment this to ignore upload of this folders anf files
# ++++++++++++++++++++++++++
*.json
node_modules
.babelrc
.browserslistrc
.prettierrc
gulpfile.esm.js
yarn-error.log
yarn.lock
.eslintrc.json
pnpm-lock.yaml