@use './mixin' as *;

/*===============================================
================ UTILITY CLASSES ================
=================================================*/

.bg-primary {
  background-color: var(--bg-primary);
}
.fg-primary {
  background-color: var(--fg-primary);
}

.bg-blue-50 {
  background-color: var(--clr-bg-50);
}
.bg-blue-70 {
  background-color: var(--clr-bg-70);
}

.bg-accent-reaction {
  background-color: hsla(0, 100%, 67%, var(--bg-opacity, 0.3));
}
.fg-accent-reaction {
  color: var(--clr-accent-red);
}
.bg-accent-memory {
  background-color: hsla(39, 100%, 56%, var(--bg-opacity, 0.3));
}
.fg-accent-memory {
  color: var(--clr-accent-yellow);
}
.bg-accent-verbal {
  background-color: hsla(166, 100%, 37%, var(--bg-opacity, 0.3));
}
.fg-accent-verbal {
  color: var(--clr-accent-tela);
}
.bg-accent-visual {
  background-color: hsla(234, 85%, 45%, var(--bg-opacity, 0.3));
}
.fg-accent-visual {
  color: var(--clr-accent-blue);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
