// @use './mixin' as *;
// @use './fonts' as *;

/*===============================================
================== VARIABLE =====================
=================================================*/
:root {
  --ff-primary: 'Hanken Grotesk';
  --fs-primary: 1.125rem;

  --bg-primary: hsl(0, 0%, 100%);
  --fg-primary: hsl(224, 30%, 27%);

  --clr-bg-10: hsl(224, 30%, 27%);
  --clr-bg-50: hsl(252, 100%, 67%);
  --clr-bg-70: hsl(241, 81%, 54%);
  --clr-fg-100: hsl(0, 100%, 100%);
  --clr-fg-50: hsl(221, 100%, 96%);
  --clr-fg-30: hsl(240, 30%, 85%);
  --clr-neutral-50: hsla(256, 72%, 46%, 1);
  --clr-neutral-00: hsla(241, 72%, 46%, 0);
  --clr-accent-red: hsl(0, 100%, 67%);
  --clr-accent-yellow: hsl(39, 100%, 56%);
  --clr-accent-tela: hsl(166, 100%, 37%);
  --clr-accent-blue: hsl(234, 85%, 45%);

  --padding-base: 1rem;
  --transition-time: 350ms;
  --transiiton-func: ease-in-out;
}
