/* font-family: 'Poppins', sans-serif; */


:root {

    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;

    --clr-primary: #fcfcfc;
    --clr-cancle: hsl(358, 79%, 54%);
    --clr-recive: hsl(140, 73%, 47%);
    --clr-dull: #bbb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
    color: var(--clr-dull);
    text-decoration: none !important;
}

a,
li[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}


.flex {
    display: flex;
    align-items: center;
    gap: var(--gap, 1rem);
}


/* +++++++++++ Shared styling +++++++++++++++++ */
.icon {
    width: 36px;
    height: 36px;
    filter: invert(98%) sepia(8%) saturate(0%) hue-rotate(319deg) brightness(98%) contrast(94%);
    cursor: pointer;
    transform: scale(1);
    transition: transform 300ms ease-out;
}

.icon:where(:hover, :active) {
    transform: scale(1.2);
}

.cancle,
.accept {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 5rem;
    box-shadow: 0 0 7px 1px rgba(0 0 0 / 0.2);
    transform: translateY(0rem);
    transform-origin: bottom;
    transition: transform 300ms ease-in;
}

.cancle:where(:hover, :active),
.accept:where(:hover, :active) {
    transform: translateY(-1.5rem);
    transform-origin: top;
}

.cancle {
    background-color: var(--clr-cancle);
}

.accept {
    background-color: var(--clr-recive);
}

.cancle .icon,
.accept .icon {
    position: absolute;
    left: 22%;
    top: 22%;
}

.cancle .icon {
    transform: rotate(135deg);
}

/* +++++++++++++++++ Main Styling +++++++++++++++++ */

body {
    font-size: 1.6rem;
    width: 100%;
    height: 100vh;
    background-color: rgb(227, 242, 252);
}

main {
    width: 95%;
    height: 100%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-auto-rows: auto;
    gap: 2rem;
    justify-items: center;
}

main section {
    background: #1F4EE4;
    background: -moz-linear-gradient(-45deg, #1F4EE4 0%, #E60115 100%);
    background: -webkit-linear-gradient(-45deg, #1F4EE4 0%, #E60115 100%);
    background: linear-gradient(135deg, #1F4EE4 0%, #E60115 100%);
    width: 100%;
    min-height: 90vh;
    max-height: 52rem;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2rem;
}

@media (min-width: 1007px) {
    main {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-auto-rows: auto;
    }

    main section {
        max-width: 40rem;
    }
}

/* +++++++++++ Hero styling ++++++++++++ */

.hero {
    flex-direction: column;
    justify-content: center;
    --gap: 0.2rem;
    margin-top: calc(4rem - 1.4vw);
}

.hero-image {
    width: calc(120px - 1.2vw);
    height: calc(120px - 1.2vw);
    border-radius: 100vw;
}

.hero h1 {
    font-size: cacl(2.4rem + 1vw);
    font-weight: bold;
    color: var(--clr-primary);
}

.phone-number {
    padding-right: 1rem;
}

.phone-number::before {
    content: "+91";
    color: rgb(255 255 255 / 0.5);
    padding-right: 0.5rem;
}

.country::before {
    content: " |";
    color: rgb(255 255 255 / 0.2);
    padding-right: 1rem;
}


/* +++++++++++++++ First screen styling  ++++++++++++++ */

.reply-message {
    background-color: #666;
    color: var(--clr-primary);
    border-radius: 2rem;
    transition: background-color 300ms ease-in-out;
}

.reply-message p {
    font-size: 1.3rem;
    font-weight: 300;
    padding: 0.4rem 2rem;
    cursor: pointer;
}

.reply-message:where(:active, :hover) {
    background-color: #777;
}

.call-button {
    width: 90%;
    margin-bottom: 4rem;
    justify-content: space-around;
    position: relative;
}


/* +++++++++++++++ Second screen styling  ++++++++++++++ */

.hero .call-duration {
    font-size: 2rem;
    font-weight: 500;
    color: var(--clr-primary);
}

.menu-control {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: max(3rem, 2vw);
    margin-top: 8rem;
}

.menu-control ul {
    flex-direction: column;
    --gap: 0;
}

.menu-control ul li:last-child {
    font-size: 1.2rem;
}

.call-control {
    width: 90%;
    margin-bottom: 4rem;
    justify-content: space-evenly;
}