@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
/* font-family: 'Overpass', sans-serif; */
/* Paragraph font size: 15px */

:root {
  /* Fonts Settings */
  font-family: 'Overpass', sans-serif;
  font-size: 62.5%;
  --fs-body: 1.5rem;
  --fs-heading: 3rem;
  --fw-regular: 400;
  --fw-bold: 700;

  /* Color Settings */
  --clr-primar-orange: hsl(25, 97%, 53%);
  --clr-bg-blue: hsl(216, 12%, 8%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(217, 12%, 63%);
  --clr-medium-gray: hsl(216, 12%, 54%);
  --clr-dark-blue: hsl(213, 20%, 20%);
  --clr-card-bg: hsl(213, 20%, 15%);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
button:where(:hover, :focus) {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Utlity class */

.hidden {
  display: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  transition: all 300ms ease-in-out;
}

/* Layout */

html,
body {
  width: 100%;
  height: 100vh;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'main'
    'footer';
  align-items: center;
  justify-items: center;
  font-size: var(--fs-body);
  color: var(--clr-white);
  background: var(--clr-bg-blue);
}

main {
  grid-area: main;
  width: 36rem;
}

.card {
  width: 100%;
  height: auto;
  padding: 2.4rem;
  background-color: var(--clr-card-bg);
  border-radius: 2.4rem;
  /* box-shadow: 0 0 15px 0 var(--clr-card-bg); */
  transition: all 300ms ease-in-out;
}

.h1 {
  font-size: var(--fs-heading);
  font-weight: var(--fw-bold);
  margin-top: 2rem;
  line-height: var(--fs-heading);
}

.note {
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--clr-medium-gray);
  margin-top: 1rem;
}

/* --------- Rating Card Styling Start -------*/
.rating-card img {
  display: block;
  width: calc(54px - 0.9vw);
  height: calc(54px - 0.9vw);
  padding: 1.2rem;
  background-color: var(--clr-dark-blue);
  border-radius: 50rem;
  box-shadow: 0 0 5px 0 var(--clr-dark-blue);
}

.rating {
  width: 100%;
  margin: 2rem 0;
  position: relative;
}

.rating ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rating ul li {
  list-style: none;
  display: inline-block;
  color: var(--clr-light-gray);
}

.rating ul li button {
  width: calc(54px - 0.9vw);
  height: calc(54px - 0.9vw);
  background-color: var(--clr-dark-blue);
  color: var(--clr-light-gray);
  border-radius: 50rem;
  box-shadow: 0 0 5px 0 var(--clr-dark-blue);
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.rating ul li button:hover {
  background-color: var(--clr-primar-orange);
  color: var(--clr-white);
}

.rating ul li button:focus {
  background-color: var(--clr-medium-gray);
  color: var(--clr-white);
}

.rating-card > button {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  letter-spacing: 2px;
  padding-block: 0.8rem;
  border-radius: 50rem;
  background-color: var(--clr-primar-orange);
  color: var(--clr-white);
  transition: all 250ms ease-in-out;
}

.rating-card > button:where(:hover, :focus) {
  background-color: var(--clr-white);
  color: var(--clr-primar-orange);
  box-shadow: 0 0 5px 1px var(--clr-bg-blue);
}

/* -------------------------------------------*/

/* --------- Thnaks Card Styling Start -------*/

.thanks-card {
  text-align: center;
}
.thanks-card img {
  display: block;
  margin: 0 auto;
}

.selected-rating {
  background-color: var(--clr-dark-blue);
  color: var(--clr-primar-orange);
  width: fit-content;
  margin: 3rem auto;
  padding: 0.8rem 2rem;
  border-radius: 50rem;
}

.selected-rating span {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-weight: var(--fw-bold);
  line-height: 1;
  color: var(--clr-white);
  padding: 4px;
  margin-inline: 2px;
  border-radius: 1000vw;
  background-color: var(--clr-primar-orange);
}

/* -------------------------------------------*/

/* --------- Footer Styling Start -------*/
footer {
  grid-area: footer;
  background-color: var(--clr-card-bg);
  width: 100%;
  padding-block: 4px;
}

.attribution {
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: var(--clr-primar-orange);
  letter-spacing: 1px;
  transition: text-decoration 500ms ease-out;
}

.attribution a:where(:hover, :focus) {
  text-decoration: none;
}
