@use '../mixin' as *;

body {
  background-color: var(--bg-primary, #fff);
  color: var(--fg-primary, #1a1a1e);
  font-family: var(--ff-primary, monospace);
  font-size: var(--fs-primary, 16px);

  @include mq-min(small) {
    display: grid;
    place-content: center;
  }
}
