@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* font-family: 'Kumbh Sans', sans-serif; */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
}

a:not([class]) {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

h1,
h2,
p {
  line-height: 1;
}

/*=============================================*/
:root {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 62.5%;
  --fs-heading-900: calc(2rem + 1.2vw);
  --fs-heading-700: 1.4rem;
  --fs-paragraph: 1.2rem;
  --fw-bold: 700;
  --fw-regular: 400;
  --clr-gradient-bottom: hsl(240, 73%, 65%);
  --clr-gradient-top: hsl(273, 75%, 66%);
  --clr-text-dark: hsl(238, 29%, 16%);
  --clr-gray-500: hsl(237, 12%, 33%);
  --clr-gray-400: hsl(240, 6%, 50%);
  --clr-hover: hsl(14, 88%, 65%);
  --clr-border: hsl(240, 5%, 91%);
  --clr-bg: hsl(0 0% 98%);
  --clr-white: hsl(0 0% 100%);
  --gutter-l: 2.4rem;
  --gutter-s: 1.2rem;
}

/*==========================================================*/
body {
  width: 100%;
  height: 100vh;
  font-size: 1.6rem;
  background: linear-gradient(var(--clr-gradient-top) 10%, var(--clr-gradient-bottom) 50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wraper {
  width: 90%;
  max-width: 64rem;
  background-color: var(--clr-bg);
  font-size: var(--fs-paragraph);
  border-radius: 3rem;
  padding: var(--gutter-l);
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 63em) {
  .wraper {
    width: 64%;
    max-width: 92rem;
    flex-direction: row;
    gap: 3rem;
    padding: 5rem;
  }
}

.image-container {
  width: 82%;
  margin: 0 auto;
}
.image-container picture {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}
.image-container picture ::after {
  content: "";
  background-image: url(../images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.image-container picture img {
  transform: translateY(-60%);
}
@media (min-width: 63em) {
  .image-container {
    width: 100%;
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .image-container picture {
    height: 100%;
    position: initial;
  }
  .image-container picture ::after {
    background-image: none;
  }
  .image-container picture img {
    transform: translate(-25%, 0);
  }
}

.faq {
  margin-top: -20%;
}
@media (min-width: 63em) {
  .faq {
    margin-top: 0;
    flex: 1;
  }
}
.faq h1 {
  font-size: var(--fs-heading-900);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-block: 2rem;
  color: var(--clr-text-dark);
}
@media (min-width: 63em) {
  .faq h1 {
    -webkit-padding-before: 0;
            padding-block-start: 0;
  }
}

.list {
  padding: 2rem 0;
  border-bottom: 1px solid var(--clr-border);
}
.list:first-child {
  padding-top: 0;
}
.list__heading {
  font-size: var(--fs-heading-700);
  font-weight: 400;
  color: var(--clr-gray-500);
  position: relative;
  transition: all 250ms ease-in-out;
}
.list__heading::after {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 0.6rem;
  height: 0.6rem;
  right: 0.3rem;
  top: 0.3rem;
  background-color: transparent;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(45deg);
  transition: all 250ms ease-in-out;
}
@media (hover: hover) {
  .list__heading:where(:hover, :focus) {
    color: var(--clr-hover);
  }
  .list__heading:where(:hover, :focus)::after {
    border-color: var(--clr-hover);
  }
}
.list__heading.open {
  color: var(--clr-text-dark);
  font-weight: 700;
}
.list__heading.open::after {
  border-color: currentColor;
  transform: rotate(-135deg);
  top: 0.6rem;
  outline: 1px dotted currentColor;
  outline-offset: 0.3rem;
}
.list__paragraph {
  color: var(--clr-gray-400);
  line-height: 1.2;
  -webkit-padding-before: 1rem;
          padding-block-start: 1rem;
  padding-inline: 0.5rem;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  opacity: 0;
}/*# sourceMappingURL=style.css.map */