@use '../mixin' as *;

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  color: var(--clr-blue-90);
  background-color: white;
  position: relative;
}
.bg-pattern {
  position: absolute;
  z-index: -1;

  opacity: 0.8;
}

.body-top {
  width: 60vw;
  top: -30vw;
  right: -20vw;
}

.body-bottom {
  width: 60vw;
  bottom: 50vw;
  left: -40vw;
}
