@use '../mixin' as *;
/*================ Header Styling ================*/

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .navbar {
    &-toggle-icon {
      display: block;
      width: rem(24px);
      cursor: pointer;
      &:where(:hover, :active) {
        outline: 2px dotted var(--clr-red-50);
        outline-offset: 4px;
      }
    }
    &-open-btn {
      display: none;
      @include mq-max(medium) {
        display: block;
      }
    }
    &-close-btn {
      display: none;
      @include mq-max(medium) {
        display: block;
        margin-left: auto;
        margin-right: var(--gutter-xl);
      }
    }
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
    &.active {
      transform: scale(1);
      width: 100%;
    }
    @include mq-max(medium) {
      background-color: var(--clr-gray-30);
      flex-direction: column;
      position: absolute;
      z-index: 99;
      top: calc(var(--gutter-xl) + rem(10px));
      right: 0;
      top: 0;
      width: 0;
      margin-inline: auto;
      padding-block-start: var(--gutter-l);
      padding-block-end: var(--gutter-xxl);
      box-shadow: 0 0 10px 0 rgb(0 0 0 / 0.3);
      transform: scale(0);
      transform-origin: top right;
      transition: all 250ms ease-in-out;
    }
    .nav-list {
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(20px);
      @include mq-max(medium) {
        margin-block-end: var(--gutter-xl);
        flex-direction: column;
      }
    }
    .nav-link {
      transition: color 250ms ease;
      &:where(:hover, :focus) {
        color: var(--clr-blue-30);
        text-decoration: wavy;
      }
    }
  }
}

.sprite-logo {
  width: 150px;
  height: 30px;
}
