@use '../mixin' as *;
/*================ Main Styling ================*/
.main {
  > * {
    margin-top: var(--gutter-xxl);
  }
}
.article {
  margin-inline: rem(20px);
  text-align: center;
  margin-block-end: var(--gutter-xl);
  h1,
  h2 {
    line-height: 1.2;
  }
  p {
    color: var(--clr-blue-30);
    line-height: 1.5;
    width: 100%;
    margin-block-start: var(--gutter-l);
  }
  @include mq-min(small) {
    margin-inline: 0;
    text-align: left;
    p {
      max-width: 60%;
    }
  }
}
.hero {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--gutter-xl);
  @include mq-min(small) {
    flex-direction: row;
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mq-min(small) {
      align-items: flex-start;
    }
    h1 {
      font-size: clamp(rem(36px), 3.33vw, rem(48px));
    }
  }
  &-image {
    width: 100%;
  }
}
.focused {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gutter-l);
  @include mq-min(small) {
    flex-direction: row;
  }
  > * {
    flex: 1;
  }
  h2 {
    font-size: clamp(rem(26px), 2.638vw, rem(38px));
  }
  .point-list {
    > * + * {
      margin-top: var(--gutter-xl);
    }
    &-items {
      position: relative;
      .item-num {
        display: inline-block;
        background-color: var(--clr-red-50);
        font-weight: var(--fw-bold);
        color: var(--white);
        padding-inline: rem(20px);
        border-radius: 100vw;
        margin-inline-end: rem(10px);
      }
      h3 {
        width: 100vw;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        font-size: clamp(rem(15px), 1.25vw, rem(18px));
        line-height: 2;
        margin-bottom: rem(15px);
        background-color: var(--clr-red-30);
        border-radius: 100vw;
        @include mq-min(small) {
          width: auto;
        }
      }
      p {
        color: var(--clr-blue-30);
        line-height: 1.8;
        font-size: clamp(rem(14px), 1.11vw, 16px);
      }
      @include mq-min(small) {
        padding-left: rem(96px);
        .item-num {
          position: absolute;
          left: 0;
          top: 0;
        }
        h3 {
          background-color: transparent;
          width: auto;
        }
      }
    }
  }
}

.wrapper-fluid {
  > * {
    margin-top: var(--gutter-xxl);
  }
}

.carousel {
  text-align: center;
  > h2 {
    font-size: clamp(rem(26px), 2.638vw, rem(38px));
  }
  &-items {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min(90%, rem(375px));
    grid-auto-rows: 1fr;
    margin-block-start: var(--gutter-l);
    margin-block-end: var(--gutter-xl);
    overflow-x: scroll;
  }
  &-item {
    width: min(90%, rem(375px));
    margin-inline: auto;
    .profile-img {
      width: rem(64px);
      position: relative;
      top: rem(32px);
      margin-inline: auto;
    }
  }
  &-content {
    background-color: var(--clr-gray-30);
    padding: var(--gutter-xl);
    padding-top: var(--gutter-xxl);

    .name {
      margin-block-end: rem(15px);
    }
    .comment {
      line-height: 1.5;
      text-align: center;
    }
  }
}

.simplify {
  width: 100%;
  background-color: var(--clr-red-50);
  .content {
    width: clamp(rem(305px), 77.78vw, rem(1120px));
    margin-inline: auto;
    padding-block: rem(70px);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: var(--gutter-xl);
    h2 {
      max-width: rem(580px);
      font-size: clamp(rem(36px), 3.33vw, rem(48px));
      text-align: center;
      line-height: 1.5;
    }
    @include mq-min(small) {
      flex-direction: row;
      h2 {
        text-align: left;
      }
    }
  }
}
