@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
/* font-family: 'Barlow Semi Condensed', sans-serif;  500/600 */


:root {
    font-size: 62.5%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    --fs-main: 1.3rem;
    --fs-heading: 2.0rem;
    --fs-hero: 1.5rem;
    --fw-regular: 500;
    --fw-bold: 600;

    --clr-bg: hsl(210, 46%, 95%);
    --clr-bg-1: hsl(263, 55%, 52%);
    --clr-bg-2: hsl(217, 19%, 35%);
    --clr-bg-3: hsl(0, 0%, 100%);
    --clr-bg-4: hsl(219, 29%, 14%);
    --clr-bg-5: hsl(0, 0%, 100%);

    --clr-fg-1: hsl(210, 46%, 95%);
    --clr-fg-2: hsl(0, 0%, 100%);
    --clr-fg-3: hsl(219, 29%, 14%);
    --clr-fg-4: hsl(0, 0%, 100%);
    --clr-fg-5: hsl(219, 29%, 14%);
}

* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

body {
    font-size: 1.6rem;
    background-color: hsla(0, 0%, 13%, 0.2);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "main"
        "footer";
    justify-items: center;
    row-gap: 2rem;
}

main {
    font-size: var(--fs-main);
    grid-area: main;
    width: 80%;
    max-width: 375px;
    margin-top: calc(3rem - 2vw);
    display: grid;
    grid-template-columns: minmax(30rem, 1fr);
    grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e";
    justify-items: center;
    row-gap: 2rem;
}

@media (min-width: 525px) {
    body {
        align-items: center;
    }

    main {
        max-width: 1080px;
        grid-template-columns: repeat(3, minmax(0, 30rem));
        grid-template-areas:
            "a a b"
            "c d d"
            "e e e";
        gap: 2rem;

    }
}

@media (min-width: 1080px) {
    body {
        align-items: center;
    }

    main {
        max-width: 1440px;
        grid-template-columns: repeat(4, minmax(0, 30rem));
        grid-template-areas:
            "a a b e"
            "c d d e";
        gap: 2rem;

    }
}

.card {
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 1rem;


}

.card-1 {
    background-color: var(--clr-bg-1);
    color: var(--clr-fg-1);
    grid-area: a;
    position: relative;
    z-index: 2;
}


.card-1::before {
    content: url(images/bg-pattern-quotation.svg);
    display: inline-block;
    position: absolute;
    top: 1%;
    right: 15%;
    z-index: -1;
}

.card-2 {
    background-color: var(--clr-bg-2);
    color: var(--clr-fg-2);
    grid-area: b;
}

.card-3 {
    background-color: var(--clr-bg-3);
    color: var(--clr-fg-3);
    grid-area: c;
}

.card-4 {
    background-color: var(--clr-bg-4);
    color: var(--clr-fg-4);
    grid-area: d;
}

.card-5 {
    background-color: var(--clr-bg-5);
    color: var(--clr-fg-5);
    grid-area: e;
}




.hero {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    verti
}

.hero img {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    border: 2px solid hsl(210, 46%, 95%);
}

.hero ul {}

.hero ul li:first-child {
    font-size: var(--fs-hero);
    font-weight: var(--fw-bold);
    padding-bottom: 0.2rem;
}

.hero ul li:last-child {
    opacity: 0.5;
}

.card h1 {
    font-size: var(--fs-heading);
    font-weight: var(--fw-bold);
    line-height: 1.2;
    padding: 1.6rem 0;
}

.card p {
    opacity: 0.7;
}

footer {
    grid-area: footer;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}