@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  font-family: 'Karla', sans-serif;
  font-size: 62.5%;
  --fs-primary: 1.6rem;

  --fw-regular: 400;
  --fw-bold: 600;

  --clr-primary-cyan: hsl(179, 62%, 43%);
  --clr-primary-cyan-light: hsl(179, 82%, 43%);
  --clr-primary-yellow: hsl(71, 73%, 54%);

  --clr-neutral-700: hsl(218, 22%, 67%);
  --clr-neutral-200: hsl(204, 43%, 93%);
}
