body {
  font-size: var(--fs-primary); //15px
  font-weight: var(--fw-regular);
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-400);
  display: flex;
  align-items: center;
}
main {
  width: 100%;
  display: grid;
  place-content: center;
}

.feature {
  width: 85%;
  margin-block: 3rem;
  margin-inline: auto;
  &__description {
    text-align: center;
    margin-bottom: 3rem;
    h1 {
      font-size: clamp(2rem, 3vw, 3rem);
      font-weight: var(--fw-light);
      letter-spacing: 2px;
      margin-bottom: 2rem;
      strong {
        font-weight: var(--fw-bold);
        display: block;
        color: var(--clr-neutral-700);
      }
    }
    p {
      margin-inline: auto;
      @media screen and (min-width: 40em) {
        width: 50%;
      }
    }
  }
  &__card-group {
    display: grid;
    gap: 2.4rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    @media screen and (min-width: 40em) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-rows: repeat(4, minmax(0, 1fr));
    }
  }
  &__card {
    background-color: hsl(0, 0%, 100%);
    padding: 2.4rem calc(1.8rem + 0.6vw);
    border-radius: 1rem;
    border-top: 5px solid var(--clr-border);
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 0.3);
    h2 {
      font-size: 2.4rem;
      font-weight: var(--fw-bold);
      color: var(--clr-neutral-700);
      padding-block-end: 1.5rem;
    }

    img {
      width: 64px;
      height: auto;
      margin-left: auto;
      padding-top: 2rem;
    }
  }
}

.supervisor {
  --clr-border: var(--clr-primary-cyan);
}
.team-builder {
  --clr-border: var(--clr-primary-red);
}
.karma {
  --clr-border: var(--clr-primary-orange);
}
.calculator {
  --clr-border: var(--clr-primary-blue);
}

@media screen and (min-width: 40em) {
  .supervisor {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .team-builder {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .karma {
    grid-column: 2/3;
    grid-row: 3/5;
  }
  .calculator {
    grid-column: 3/4;
    grid-row: 2/4;
  }
}
